*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100%;
    min-height: 450vh;
    background-color: rgb(243, 248, 248);
}

.main{
    
 /*background-image: url(asset/img/bg.jpg);*/
 background-image: url(https://images.suprgenius.com/users/hero_images/housedesign_XMDZ_1705505767.webp);
background-position: center center;          /*mobile or destop dono me background img center me h rahega*/
background-size: max(1400px, 100%);         /* zoom in or zoom out hoga desktop or mobile me same*/
background-repeat: no-repeat;
height: 580px;
position: relative;

}
.main .box{
    top: 0;
    color: white;
    width: 100%;
  position: absolute;
    background: #00000082;
    height: 400px;
    flex-direction: column;
    padding: 20px;
    display: flex;
   margin-top: 104px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    margin-left: 30px;
    width: 250px;
    font-family:  "Gill Sans", sans-serif;;
    font-weight: 900;
}

.button .btn-black a:hover{
    background-color: white;
    color: black;
}

.btn-black {
   
    height: 60px;
   width: 200px;
    border:1.54px solid #fff;
    background-color:#00000082 ;
   color: white;
    border-radius: 5px ;
    font-size:17px ;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-black a{
    margin: 0px;
    height: 60px;
    width: 200px;
    border-radius: 5px ;
    text-decoration: none;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
nav{
    width: 100%;
    height: 90px;
    justify-content: space-between;
   
   top: 0;
    display: flex;
    align-items: center;
   
  background-color: #fff;

  position: fixed;
  z-index: 1030;
   
}
.top{
    padding: 100px;
}
ul{
    display: flex;
    padding: 100px;
}

ul li{
    padding: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(59, 71, 90);
    font-size: 17px;
   
}
ul li a{
    text-decoration: none;
   color: rgb(59, 71, 90);
}
ul li:hover{
    color: rgb(75, 111, 229) ;
    border-bottom: 2px solid #fff;
    border-color:blue ;
    cursor: pointer;
    
}
ul li a:hover{
    color: rgb(75, 111, 229);
}
.h a{
    text-decoration: none;
    color: rgb(75, 111, 224);
  
}
.h{
    border-bottom: 2px solid #fff;
    border-color:blue ;
}

.separation{
    margin-top: 2px;
    height: 3px;
    background-color: rgb(47, 47, 179);
}
section.first{
    margin-top:40px ;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
.ab{
    font-size:x-large;
    font-weight: 500;
}

.ho{
    font-size: 43px;
    font-weight: 550;
    font-family: 'Lato', sans-serif;
  
    
}
.first .ho::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #b1b7de;
   bottom: 26px;
    left: calc(50% - 60px);
}
.first .ho::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 2px;
    background: #1977cc;
    
    left: calc(50% - 20px);
}

.wel{
   
    margin-top: 40px;
  
  
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}
.we{
    margin-top: 20px;
    font-size: 1.1rem;
 align-content: flex-start;
}
.pl{
    margin-top: 20px;
    font-size: 1.1rem;
    cursor: pointer;
} 
.p1 a{
    text-decoration: none;
    color: white;
}
section.second{
    margin-top:60px ;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
.our{
    font-size: 38px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.second .our::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #b1b7de;
    top: 1007px;
    left: calc(50% - 60px);
}
.second .our::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    
    left: calc(50% - 20px);
}

.counter1{
    display: flex;

     justify-content: center;
     width: 90vw;
     height: 25vh;
   /* border: 2px solid black;*/
     margin: 20px;
 
     display: grid;
     grid-template-areas: "bo1" "bo2" "bo3";
     display: flex;
     flex-wrap: wrap;
    
     padding: 20px;
    
     column-gap: 15px;

}
.img_box{
    border: px solid rgb(254, 253, 253);
            height: 180px;
            width: 26vw;
            gap: 30px;
            border-radius: 7px;
           
}


.box1{
    grid-area: bo2;
    background-color:black;
    background-image: url(https://images.suprgenius.com/users/service_category/32_GKSI_1705081378.webp);
    background-size: 100%;
    background-position: center;
   
    border: 0.1px solid rgb(145, 144, 144);
   
}

.box2{
    grid-area: bo2;
    background-color:rgb(230, 236, 236);
    background-image: url(https://images.suprgenius.com/users/service_category/171_EMTK_1705081318.webp);
    background-size: 100%;
    background-position: center;
    transition: all 0.3s ease-in-out;
    border: 0.1px solid rgb(216, 213, 213);
}
.box3{
    grid-area: bo2;
    background-color:rgb(230, 236, 236);
    background-image: url(https://images.suprgenius.com/users/service_category/133_UPJZ_1705081295.webp);
    background-size: 100%;
    background-position: center;
    transition: all 0.3s ease-in-out;
    border: 0.1px solid rgb(216, 213, 213);
}
section.third{
   
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;

}
.se{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.third .se::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #b1b7de;
    top: 1308px;
    left: calc(50% - 60px);
}
.third .se::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    
    left: calc(50% - 20px);
}

.counter2{
    display: flex;

     justify-content: center;
     width: 80vw;
     height: 95vh;
     /*border: 2px solid black;*/
     margin: 20px;
 
     display: grid;
     grid-template-areas: "bo1" "bo2" "bo3"
                          "bo4" "bo5" "bo6";
     display: flex;
     flex-wrap: wrap;
    
     padding: 20px;
    
     column-gap: 15px;
    row-gap: 15px;
}
.img_box2{
    border: px solid rgb(64, 49, 49);
            height: 290px;
            width: 25vw;
            gap: 30px;
            border-radius: 7px;
           
}

.boxs1{
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    
    border: 0.1px solid rgb(231, 229, 229);
    overflow: hidden;

}
.i1{
    border-start-start-radius: 6px 6px;
    border-start-end-radius:6px 6px ;
   

   
}
.te{
    margin: 8px;
    font-weight: 300;
   font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxs2{
    grid-area: bo2;
    background-color:rgb(255, 255, 255);
   /* background-image: url(https://images.suprgenius.com/users/service_category/32_GKSI_1705081378.webp);
    background-size: 100%;
    background-position: center;*/
   
    border: 0.1px solid rgb(231, 229, 229);
    overflow: hidden;
}
.boxs3{
    grid-area: bo3;
    background-color:rgb(255, 255, 255);
   /* background-image: url(https://images.suprgenius.com/users/service_category/32_GKSI_1705081378.webp);
    background-size: 100%;
    background-position: center;*/
   
    border: 0.1px solid rgb(231, 229, 229);
    overflow: hidden;
}
.boxs4{
    grid-area: bo4;
    background-color:rgb(255, 255, 255);
   /* background-image: url(https://images.suprgenius.com/users/service_category/32_GKSI_1705081378.webp);
    background-size: 100%;
    background-position: center;*/
   
    border: 0.1px solid rgb(231, 229, 229);
    overflow: hidden;
}
.boxs5{
    grid-area: bo5;
    background-color:rgb(255, 255, 255);
   /* background-image: url(https://images.suprgenius.com/users/service_category/32_GKSI_1705081378.webp);
    background-size: 100%;
    background-position: center;*/
   
    border: 0.1px solid rgb(231, 229, 229);
    overflow: hidden;
}
.boxs6{
    grid-area: bo6;
    background-color:rgb(255, 255, 255);
   /* background-image: url(https://images.suprgenius.com/users/service_category/32_GKSI_1705081378.webp);
    background-size: 100%;
    background-position: center;*/
   
    border: 0.1px solid rgb(231, 229, 229);
    overflow: hidden;
}

.btn-black2{
   margin: 10px;
    height: 60px;
   width: 250px;
    border:1.54px solid #fff;
    background-color:#212529 ;
   color: white;
    border-radius: 5px ;
    font-size:17px ;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bu{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(103%) contrast(101%);
   
}
.btn-black2 a{
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

section.fourth{
   
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    /*margin: 120px;*/
}
.po{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.fourth .po::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #b1b7de;
    top: 2115px;
    left: calc(50% - 60px);
}
.fourth .po::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    
    left: calc(50% - 20px);
}

.counter3{
    display: flex;

     justify-content: center;
     width: 93vw;
     height: 77vh;
     /*border: 2px solid black;*/
     margin: 20px;
 
     display: grid;
     grid-template-areas: "bo1" "bo2" "bo3" "bo4" "bo5"
                          "bo6" "bo7" "bo8" "bo9" "bo10";
     display: flex;
     flex-wrap: wrap;
    
     padding: 20px;
    
     column-gap: 5px;
   row-gap: 5px;
}
/*.img_box3{
    border: px solid rgb(64, 49, 49);
            height: 190px;
            width: 35vw;
            gap: 3px;
            border-radius: 7px;
           
}*/

.boxes1{
    width: 145px;
    height: 262px;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Pho1932D_1_1705082031.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes2{
    width: 165px;
    height: 262px;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Mho1932P_2_1705082032.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes3{
    width: 366px;
    height: 262px;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Sho1932Y_0_1705082327.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes4{
    width: 371px;
    height:262px ;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Who1932K_0_1705082402.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes5{
    width: 310px;
    height:262px ;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Rho1932R_0_1705082667.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes6{
    width: 380px;
    height:190px ;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Bho1932V_1_1705082667.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes7{
    width: 184px;
    height:190px ;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Tho1932L_0_1705086880.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes8{
    width: 236px;
    height: 190px;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Sho1932B_0_1705086887.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes9{
    width: 250px;
    height: 190px;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Pho1932T_0_1705089959.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}
.boxes10{
    width: 310px;
    height:190px ;
    grid-area: bo1;
    background-color:rgb(255, 255, 255);
    background-image: url(https://images.suprgenius.com/users/portfolio/Eho1932F_0_1705090074.webp);
    background-size: 100%;
    background-position: center;
    border: 0.1px solid rgb(231, 229, 229);
   
}

.btn-black3{
    margin: 10px;
     height: 60px;
    width: 250px;
     border:1.54px solid #fff;
     background-color:#212529 ;
    color: white;
     border-radius: 5px ;
     font-size:17px ;
     font-weight: 100;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .but{
     filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(103%) contrast(101%);
    
 }
 .btn-black3 a{
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
 }

section.fifth{
   
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
}
.re{
    font-size: 32px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.fifth .re::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #b1b7de;
    top: 2793px;
    left: calc(50% - 60px);
}
.fifth .re::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #1977cc;
    
    left: calc(50% - 20px);
}
 
.counter4{
   
     width: 88vw;
     height: 34vh;
    /* border: 2px solid black;*/
     margin: 10px;
 
     display: grid;
     grid-template-areas: "bo1" "bo2" "bo3" 
                          "bo4" "bo5" "bo6";
     display: flex;
     flex-wrap: wrap;
    
     padding: 28px;
    
     column-gap: 20px;
  
}
/*.img_box4{
   border:2px solid #212529;
    width: 430px;
           /* gap: 100px;
         
}*/

.boxess1{
    border:2px solid rgb(231, 229, 229);
    width: 430px;
    height: 200px;
    grid-area: bo1;
  background-color: white;
    border-start-start-radius: 6px 6px;
    border-start-end-radius:6px 6px ;
    display: flex;
    justify-content: center;
   text-align: center;
    font-size: 8px;
    color: #fcfcfc;

   
}

.boxess2{
    border:2px solid rgb(231, 229, 229);
    width: 430px;
    height: 200px;
    grid-area: bo2;
    background-color: white;
    border-start-start-radius: 6px 6px;
    border-start-end-radius:6px 6px ;
    display: flex;
    justify-content: center;
   text-align: center;
    font-size: 8px;
    color: #fcfcfc;
   
}
.boxess3{
    border:2px solid rgb(231, 229, 229);
    width: 430px;
    height: 200px;
    grid-area: bo3;
   background-color: white;
    border-start-start-radius: 6px 6px;
    border-start-end-radius:6px 6px ;
    display: flex;
    justify-content: center;
   text-align: center;
    font-size: 8px;
    color: #fcfcfc;
   
}
.boxess4{
    border:2px solid rgb(231, 229, 229);
    width: 430px;
    height: 62px;
    grid-area: bo1;
    background-color: rgba(0, 0, 0, .03);
    border-end-start-radius: 6px 6px;
    border-end-end-radius:6px 6px ;
   
   
   
}
.n{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px;
}
.boxess5{
    border:2px solid rgb(231, 229, 229);
    width: 430px;
    height: 62px;
    grid-area: bo1;
    background-color: rgba(0, 0, 0, .03);
    border-end-start-radius: 6px 6px;
    border-end-end-radius:6px 6px ;
   
   
}
.boxess6{
    border:2px solid #e2e2e2;
    width: 430px;
    height: 62px;
    grid-area: bo1;
    background-color: rgba(0, 0, 0, .03);
    border-end-start-radius: 6px 6px;
    border-end-end-radius:6px 6px ;
   
   
}

.btn-black4{
    margin: 10px;
     height: 60px;
    width: 250px;
     border:1.54px solid #fff;
     background-color:#212529 ;
    color: white;
     border-radius: 5px ;
     font-size:17px ;
     font-weight: 100;
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.butt{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(19deg) brightness(103%) contrast(101%);
   
}
.btn-black4 a{
    height: 60px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}
@media screen and (max-width:1100px) {
    .container{
       width:320vw ; 
    }
   section.second{
    width: 320vw;
   }
    
    
}

@media screen and (max-width:1496px) {
    .first .ho::before{
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #b1b7de;
      /* bottom: 35px;*/
      top:703px;
        left: calc(50% - 60px);
    }
    .third .se::before{
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #b1b7de;
        top: 1268px;
        left: calc(50% - 60px);
    }
    section.fourth{
        margin: 150px;
    }
    .fourth .po::before{
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #b1b7de;
        top: 2084.6px;
        left: calc(50% - 60px);
    }
    section.fifth{
        margin: 80px;
    }
    .counter4{
        width: 96vw;
        height: 40vh;
        /*margin-left:130px;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fifth .re::before{
        content: "";
        position: absolute;
        display: block;
        width: 120px;
        height: 1px;
        background: #b1b7de;
        top: 2797px;
        left: calc(50% - 60px);
    }

}


.footer{
    width: 88vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.95fr 1fr;
    padding: 36px;
    color: white;
  
   
}

.footer-item1{
   height: auto;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 10px;
    padding: 25px;
    column-rule:5px solid black;
    border-radius: 50px;
    
}
h4{
    font-size: 19px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0.5rem ;
}
.footer-item2{
    column-rule: solid black;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: #777777;
    margin-top: 30px;
    margin-bottom: 30px ;
    font-size: 20px;
   padding: 25px;
    width: 100%;
    line-height: 1.5;
    caption-side: bottom;
    border-collapse: collapse;
   
}
.footer-item3{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 10px;
    padding: 15px;
    column-rule:5px solid black;
}
h3{
   
    font-size: 20px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
    margin-top: 0;
    padding: 30px;
}
.tel{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 10px;
    
}
.email{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
    
}
.btn-black5{
   
    border:white;
    
     background-color:white;
    color: white;
     border-radius: 5px ;
     font-size:17px ;
     font-weight: 100;
     display: flex;
     align-items: center;
     justify-content: center;
     
}

.logo{
    font-size: 18px;
    display: inline-block;
    line-height: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  
    transition: 0.3s;
}
.footer-item4{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin: 10px;
    padding: 15px;
    column-rule:5px solid black;
}
h5{
font-size: 20px;
font-weight: bold;
color: #444444;
position: relative;
padding-bottom: 12px;
margin-top: 0;
padding: 25px;
}

h6{
    font-size: 15px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
    margin-top: 0;
    padding: 5px;
}
h6 a{
    color: #777777;
    text-decoration:none;
}
.copywrite{
    width: 100%;
    height: 10vh;
   
   
    background-color: #e9f4fd;
    color: white;
}

.copywrite{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}
.copywrite .co{
    font-size: large;
    color:black;
    margin: 120px;
}
.copywrite .pw{
    font-size: large;
    color: black;
    margin: 120px;
}
.copywrite .pw a{
    color: black;
    font-weight: 600;
    font-size: x-large;
    text-decoration: none;
}
.whatsapplogo{
    position: fixed;
    right: 0px;
    bottom: 12px;
    cursor: pointer;
    
 }
 .btn-black6{
   
    border: #e9f4fd;
    
     background-color: #e9f4fd;
    color: white;
     border-radius: 5px ;
     font-size:17px ;
     font-weight: 100;
     display: flex;
     align-items: center;
     justify-content: center;
     
}
